.navbar{
    display: flex;justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%, 80px);
}

.navbar .profile{
    width: 40px;
}

.navbar-search-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}


.navbar-search-input {
  padding: 8px 16px;
  border: 3px solid black;
  border-radius: 6px;
  font-size: 16px;
  outline: 2px solid tomato;
}


